
<ol class='note_list'>
  <h2>All Notes</h2>
  <% @notes.each do |note| %>

    <li>
      <p><a href="/notes/<%= note.id %>"><%= note.title %></a></p>
   
        <%= note.content %><br>
      <p><a href="/notes/<%= note.id %>/edit">Edit this note</a></p>
      <p><a href="/notes/<%= note.id %>/delete">Delete</a></p>  
    </li>
    
  <% end %>
</ol>

<h3>Add Notes:</h3>
  <form class='note_options' method='get' action='/notes/new'>
    <input type='submit' value='Create New Note'>
  </form>






